<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </header>
    <form action="/contact/new" method="post">
        <input type="text" name="firstName" id="" placeholder="first">
        <input type="text" name="lastName" id="" placeholder="last">
        <input type="email" name="email" id="" placeholder="email">
        <input type="submit" value="Send">
    </form>

</body>

</html>